@charset "utf-8";
/* CSS Document */
.ask_submit{
	width:100%;
	height:auto;
	overflow:hidden;
	padding:10px;
	position:relative;}
.ask_describe{
	border:1px #ddd solid;
	width:100%;
	height:40px;
	padding-left:5px;}
.ask_supplement{
	width:100%;
	line-height:25px;
	height:auto;
	border:1px #ddd solid;
	margin-top:10px;
	padding-left:5px;}
.ask_file{
	margin-top:5px;}
.btn_submit{
	width:100%;
	background-color:#0baa53;
	color:#fff;
	height:40px;
	border:none;
	font-size:16px;
	margin-top:10px;}
.upload_ask{
	position:absolute;
	right:20px;
	bottom:20px;}