@charset "utf-8";
/* CSS Document */
.comment{
	width:100%;
	height:auto;
	margin-top:10px;
	background-color:#fff;}
.comment_list{
	padding:0 15px;
	border-bottom:1px #ddd dashed;
	width:100%;
	height:auto;
	overflow:hidden;}
.comment_list>img{
	width:50px;
	margin:5px 10px 5px 0;
	float:left;}
.comment_list>h5{
	margin:5px 0 0 0;
	height:30px;
	line-height:30px;
	font-size:16px;
	color:#333;
	overflow:hidden;}
.comment_list>h5>span{
	color:#999;
	font-size:14px;
	float:right;}
.comment_list>p{
	line-height:20px;
	color:#666;
	max-height:40px;
	overflow:hidden;
	margin-bottom:5px;}