@charset "utf-8";
/* CSS Document */
.user_profole{
	width:100%;
	height:auto;
	overflow:hidden;}
.user_head{
	width:100%;
	height:70px;
	line-height:70px;
	background-color:#fff;
	border-bottom:1px #ddd solid;
	padding:0 10px;}
.user_head>span,.user_list>p{
	font-size:14px;
	color:#333;}
.user_head>img{
	float:right;
	width:60px;
	height:60px;
	margin-top:5px;}
.user_list{
	width:100%;
	height:45px;
	line-height:45px;
	background-color:#fff;
	border-bottom:1px #ddd solid;
	padding:0 10px;}
.user_list>p>span{
	float:right;
	color:#999;}