<extend name="Public/base" />
<block name="main">
        <h1 class="page-header">需求列表</h1>
        <div class="row well-sm">
            <div class="col-sm-7 form-inline">
                <label class="control-label">筛选：</label>
                <foreach name="filter.fields_name" item="name" >
                    <if condition="$name.type eq 'input'">
                        <input class="form-control input-sm" type="text" name="search_{$key}" value='{$filter['fields_value'][$key]}' placeholder="{$name.desc}" />
                    <elseif condition="$name.type eq 'select'"/>
                    <select name="search_{$key}" class="form-control input-sm">
                        <foreach name="name.values" key="key1" item="value" >
                            <option value="{$value.value}" <if condition="$filter['fields_value'][$key] eq $value['value']">selected="selected"</if>>{$value.desc}</option>
                        </foreach>
                    </select>
                    </if>
                </foreach>
                <label>排序：</label>
                <select id="orderby" class="form-control input-sm">
                <foreach name="filter.order.fields" item="name" >
                    <option value="{$key}" <if condition="$filter['order']['orderby'] eq $key">selected="selected"</if>>{$name}</option>
                </foreach>                    
                </select>
                <select id="sortby" class="form-control input-sm">
                    <option value="DESC" <if condition="$filter['order']['sortby'] eq 'desc'">selected="selected"</if>>降序</option>
                    <option value="ASC" <if condition="$filter['order']['sortby'] eq 'asc'">selected="selected"</if>>升序</option>
                </select>
                <button class="btn btn-default btn-sm" onClick="submit_filter()">确认</button>
            </div>
            <div class="col-sm-5 form-inline">
                <form id="submitForm1" action="{:U('Requirement/add')}" method="get">
                <select class="form-control input-sm" id="user_id" name="user_id">
                    <option value="0">选择用户</option>
                </select>
                <input class="form-control input-sm" id="user_name" value="" />
                <button class="btn btn-default btn-sm" onClick="search_user();return false;">搜索</button>
                <button class="btn btn-default btn-sm" type="submit">增加需求</button>
                </form>
            </div>
        </div>        
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#id</th>
                    <th>项目名称</th>
                    <th>工种</th>
                    <th>地区</th>                                        <th>用户</th>
                    <th>增加时间</th>                                        <th>审核</th>
                    <th>管理</th>
                </tr>
            </thead>
            <tbody>
            <foreach name="tenderList" item="info" >
                <tr>
                    <td scope="row">#<input type="hidden" value="{$info['tender_id']}"></td>
                    <td>{$info['tender_name']|htmlspecialchars}</td>
                    <td>{$info['type_name']|htmlspecialchars}</td>
                    <td>{$info['region_name']|htmlspecialchars}</td>                                        <td>{$info['user_name']}</td>
                    <td>{$info['add_time']}</td>                                        <td><if condition="$info['is_checked'] eq 0"><b style="color:red;">未审核</b><else />已审核</if></td>
                    <td>
                        <a class="btn btn-default btn-sm" href="{:U('Requirement/edit',array('id'=>$info['tender_id']))}">编辑</a>
                        <button class="btn btn-default btn-sm" onClick="del_requirement({$info['tender_id']});">删除</a>
                    </td>
                </tr>
            </foreach>
            </tbody>
        </table>
        <div id="page" class="m-pagination"></div>    
        <form id="submitForm" action="{:U('Requirement/index')}" method="get">
                <foreach name="filter.fields_value" item="value" >
                    <input type="hidden" name="filter_{$key}" value="{$value}" />
                </foreach>     
            <input type="hidden" name="orderby" value="{$filter.order.orderby}" />
            <input type="hidden" name="sortby" value="{$filter.order.sortby}" />            
            <input type="hidden" name="p" value="{$pageInfo.nowPage}" />
        </form>

</block>
<block name="css-style">
    <link href="__STATICS__/css/jquery.pagination.css" rel="stylesheet">
</block>
<block name="js-input">
    <script src="__STATICS__/js/jquery.pagination-1.2.7.min.js"></script>
    <script type="text/javascript">
        function submit_filter()
        {
            $("[name^='search_']").each(function() {
                var search_name = $(this).prop("name");
                var filter_name = 'filter_' + search_name.substr(7);
               $("input[name='"+filter_name+"']").val($(this).val()); 
            });
            $("input[name='orderby']").val($("#orderby").val());
            $("input[name='sortby']").val($("#sortby").val());
            $("input[name='p']").val(1);
            $("#submitForm").submit();
        }
        function search_user(){
            var user_name = $("#user_name").val();
            if(user_name == ''){
                alert('用户名不能为空');
            }else{
                var data = {};
                data.user_name = user_name;
                data.act = 'search_user';
                $.post("{:U('Requirement/add')}",data,function(result){
                    if(result.status == 0){
                        alert(result.info);
                    }else{
                        $('#user_id').empty();
                        for(var key in result.info){
                            $('#user_id').append('<option value="'+key+'">'+result.info[key]+'</option>');
                        }
                    }
                },'json');
                
            }
        }
        function del_requirement(tender_id)
        {
            if(confirm("确认删除需求吗？")){
                var post_url = '{:U('Requirement/del')}';
                var data = {};
                data.id = tender_id;
                $.post(post_url, data,
                  function(result) {
                    if(result.status == 0){
                        alert(result.info);
                    }else{
                        $("#submitForm").submit();
                    }
                },'json');
            }            

        }
        
                        function chanage_page(page)
                        {
                            $("#submitForm").find("input[name='p']").val(page);
                                $("#submitForm").submit();
                        }
                        $("#page").page({
                        total: {$pageInfo.totalRows},
                                pageSize: {$pageInfo.listRows},
                                pageIndex: {$pageInfo['nowPage'] - 1},
                                showInfo: true,
                                showJump: true,
                                loadFirstPage: false,
                                infoFormat: '第{start} - {end}条，共{total}条',
                        }).on("pageClicked", function (event, pageIndex) {
                        chanage_page(pageIndex + 1);
                        }).on('jumpClicked', function (event, pageIndex) {
                        chanage_page(pageIndex + 1);
                        });
    </script>
</block>
